
/*header*/

.section__header{
    max-width: 100%;
    height: 930px;
    background:  linear-gradient(to bottom, rgba(37, 43, 73, 0.5), rgba(37, 43, 73, 0.5)), url(../project/img-2/icon.png)  no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.header__menu{
    max-width: 1170px;
    padding: 0 15px;
    height: 101px;
    margin: 0 auto;
    border-bottom: 1px solid #BABBC5 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__burger{
    display: none;
}

.header__info{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__title {
    font-family: 'Raleway', sans-serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 75px;
    text-align: center;
    color: #fff;
    margin-top: 130px;
}

.header__subtitle {
    font-family: 'Raleway';
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    margin-top: 31px;
}

.header__button {
    width: 369px;
    display: block;
    border: none;
    font-family:'Raleway';
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    text-align: center;
    color: #fff;
    background: #FF4343;
    padding: 26px 0;
    margin: 82px auto 0 auto;
    cursor: pointer;
}

.header__button:hover {
    background: #E71414;
}

.header__button:active {
    background: #FF4343;
    box-shadow: 4px 4px 30px 0px rgba(255, 67, 67, 1);
}

.menu__logo{
    width: 120.44px;
    position: relative;
    z-index: 3;
}

.menu__logo-1{
    width: 60.41px;
    position: relative;
    right: 140px;
}

.menu__list {
    width: 670px;
    display: flex;
    justify-content: space-around;
}

.nav__link{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 13px;
}

.nav__link:active{
    color:#E71414;
}

.nav__link:hover:after,
a:focus:after{
	width: 100%;
    background: #BABBC5;
}

.nav__link:active:after,
a:focus:after{
    width: 100%;
    background: #E71414;
    color: #E71414;
}

/*banner*/

.section__banner{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}

.section__container{
    height: 717px;
    margin: 116px 0;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 calc(100% / 3);
}

.section__icon{
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto 29px auto;
}

.section__name{
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding: 22px 0;
    margin-bottom: 20px;
}

.section__subname{
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #6C7279;
}

.section__menu{
    padding: 10px;
}

/*image*/

.section__image{
    max-width: 1510px;
    margin: 0 auto;
}

.section__work{
    height: 678px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 25% 25% 25% ;
    margin-bottom: 114px;
    cursor: pointer;
}

.image:hover{
    background: linear-gradient(rgba(255, 67, 67, 0.8),rgba(255, 67, 67, 0.8));
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}

/*review*/

.section__review{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.section__team{
    display: flex;
    justify-content: space-evenly;
    height: 619px;
    margin-bottom: 114px;
}

.section__message{
    cursor: pointer;
}

.review__name{
    margin-bottom: -20px;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #2D3033;
}

.review__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FF4343;
    margin-bottom: 18px;
}

.review__subtitle{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #6C7279;
}

/*woomen*/

.section__woomen{
    display: flex;
    justify-content: center;
    padding: 0 15px;
    margin: 0 auto;
}

.section__text{
    background: #5C3249;
    width: 770px;
    height: 490px ;
}

.text{
    font-family: 'Cardo';
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
    display: flex;
    padding-left: 129px;
    padding-top: 100px ;
}

.about__text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    padding-left: 129px;
}

/*slider*/

.slider__container{
    padding-top: 34px;
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet{
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #7E5D6F;
    opacity: 1;
}

.swiper-pagination-bullet:hover{
    background: #7E5D6F;
}

/*download*/

.section__download{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.about__download{
    height: 224px;
    margin: 114px auto;
}

.download__title{
    text-align: center;
    padding: 17.5px 0;
    margin-bottom: 5px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
}

.download__subtatle{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.tab__download{
    background: #FF4343;
    width: 369px;
    margin: 0 auto;
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    text-align: center;
    color: #fff;
    background-color: #FF4343;
    padding: 25px 0;
    display: block;
}

.tab__download:hover{
    background: #E71414;
}

.tab__donload:active{
    background: #FF4343;
    box-shadow: 4px 4px 30px 0px rgba(255, 67, 67, 1);
}

/*about-footer*/

.section__about-footer{
    width: 100%;
    background: #353C65;
    height: 251px;
}

.container__block{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
}

.container__title{
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    margin-bottom: 29px;
    color:#fff
}

.container__subtitle{
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color:#fff
}

.container__icon{
    cursor: pointer;
}

/*footer*/

.footer__block{
    background: #2C3154;
}

.footer__title{
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #808080;
    padding: 23.86px;
}

span{
    color: #fff;
}

@media(max-width:1064px){
.section__header{
    height: 768px;
}

.header__menu{
    max-width: 1024px;
    padding: 0 20px;
}

.header__info{
    max-width: 1024px;
    padding: 0 20px;
}

.header__title {
    font-size: 48px;
    line-height: 56px;
    margin-top: 158px;
}

.header__subtitle{
    font-size: 18px;
    line-height: 21px;
    margin-top: 62px;
}

.header__button{
    width: 313px;
    padding: 24.7px 0;
    margin: 91.5px auto 0 auto;
    border: none;
    cursor: pointer;
}

.menu__logo{
    width: 120.44px;
}

.menu__logo-1{
    position: relative;
    right: 105px;
}

.menu__list{
    width: 566px;
}

.menu__link{
    font-size: 12px;
    line-height: 14px;
    padding: 6.5px 0;
}

/*banner*/
.section__banner{
    padding: 0 20px;
    margin: 0 auto;
}

.section__container{
    height: 524px;
    margin: 79px 0;
    justify-content: center;
}

.section__icon{
    height: 85px;
    width: 85px;
    margin: 0 auto 23px auto;
}

.section__name{
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    padding: 20px 0;
}

.section__subname{
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 16.5px;
}

/*image*/
.section__image{
    max-width: 1024px;
    padding-top: 20px;
}

.section__work{
    height: 460px;
}

.image{
    height: 231px ;
}

/*review*/
.section__review{
    max-width: 1024px;
    padding: 0 20px;
}

.section__work{
    height: 521px;
    margin: 79px auto;
}

.review__name{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 4.6px;
}

.review__title{
    font-size: 14px;
    line-height: 16px;
}

.review__subtitle{
    font-size: 14px;
    line-height: 16.44px;
    margin-bottom: 39px;
    margin-right: 25px;
}

.section__personal{
    margin-bottom: 25px;
    width: 227px;
    height: 227px;
}

/*woomen*/
.about__image{
    width: 502px;
    height: 332px;
}

.section__text{
    width: 522px;
    height: 332px;
}

.text{
    font-size: 24px;
    line-height: 32px;
    padding: 47px 88px 0 104px;
}

.about__text{
    font-size: 12px;
    line-height: 14px;
    padding-left: 100px;
}

/*slider*/
.section__slider{
    padding-top: 34px;
}

/*download*/
.section__download{
    max-width: 1024px;
    padding: 0 20px;
}

.about__download{
    height: 204px;
    margin: 78px auto;
}

.download__title{
    font-size: 24px;
    line-height: 28px;
    padding: 16px 0;
}

.download__subtatle{
    font-size: 14px;
    line-height: 16.44px;
    margin-bottom: 45px;
}

.tab__download{
    width: 313px;
    font-size: 18px;
    line-height: 21px;
    padding: 28px 0;
}

/*about-footer*/
.container__block{
    max-width: 1024px;
    height: 169px;
    padding: 47px 47px;
}

.container__title{
    font-size: 14px;
    line-height: 16px;
}

.container__subtitle{
    font-size: 14px;
    line-height: 16px;
}

/*footer*/
.footer__title{
    font-size: 14px;
    line-height: 16px;
}
}

@media (max-width: 768px){
.section__header{
    width: 320px;
    height: 572px;
    margin: 0 auto;
}

.header__menu{
    height: 56px;
}

.menu__burger{
    display: block;
    width: 24px;
    height: 18px;
    position: relative;

    cursor: pointer;
}

.menu__burger span{
    background: #fff;
    position: absolute;
    width: 24px;
    height: 3px;

    top: 8px;
}

.menu__burger::before,
.menu__burger::after{
    content: '';
    background: #fff;
    position: absolute;
    width: 24px;
    height: 3px;

}

.menu__burger::before{
    top: 0;
}

.menu__burger::after{
    bottom: 0;
}

.menu__burger.active span {
    transform: scale(0);
}

.menu__burger.active::before {
    transform: rotate(45deg);
    top: 8px
}

.menu__burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
}

.header__title{
    font-size: 36px;
    line-height: 42px;
    margin-top: 80px;
}

.header__subtitle{
    font-size: 14px;
    line-height: 16.44px;
    margin-top: 33px;
}

.header__button{
    width: 279px;
    padding: 15px 0;
    margin: 51px auto 0 auto;
    cursor: pointer;
}

.menu__logo{
    width: 67.78px;
}

.menu__logo-1{
    width: 34px;
    position: relative;
    right: 70px;
}

.menu__list{
    top: -100%;
    display: block;
    position: absolute;
    margin-top: 84px;
}

.menu__list > nav{
    padding: 24px 0;
}

.menu__list:active{
    top: 0;
}

.nav__link{
    font-size: 13px;
    line-height: 15px;
}

/*review*/
.section__review{
    max-width: 280px;
    padding: 35px 20px;
}

.section__team{
    height: 2252px;
    display: block;
}

.section__card{
    padding-top: 49.39px;
}

.review__name{
    font-size: 18px;
    line-height: 21px;
}

.review__title{
    font-size: 14px;
    line-height: 16px;
}

.review__subtitle{
    font-size: 14px;
    line-height: 16px;
}

.section__personal{
    height: 227px;
    width: 280px;
}

/*banner*/
.section__banner{
    padding: 0 20px;
    margin: 0 auto;
}

.section__container{
    height: 1450px;
    margin: 57px 0;
    display: block;
}

.section__name{
    font-size: 18px;
    line-height: 21px;
    padding: 1px;
}

.section__subname{
    font-size: 14px;
    line-height: 16px;
}

/*image*/
.section__image{
    max-width: 320px;
    height: 576px;
}

.section__work{
    display: grid;
    grid-template-rows: 26% 26% 26%;
    grid-template-columns: 50% 50%;
}

.image{
    max-width: 160px;
    height: 144px;
}

/*woomen*/
.section__woomen{
    max-width: 320px;
    padding-top: 105px;
    display: block;
}

.section__text{
    max-width: 320px;
    height: 326px;
    position: relative;
    top: -24px;
}

.text{
    font-size: 24px;
    line-height: 32px;
    padding: 20px 25px 0;
}

.about__text{
    font-size: 12px;
    line-height: 14px;
    padding: 0 20px;
}

.about__image{
    width: 320px;
    height: 212px;
}

/*download*/
.section__download{
    max-width: 280px;
    padding: 0 20px;
}

.about__download{
    height: 224px;
}

.download__title{
    font-size: 18px;
    line-height: 21px;
    padding-top: 3px;
}

.download__subtatle{
    font-size: 13px;
    line-height: 15px;
}

.tab__download{
    width: 278.25px;
}

/*slider*/
.section__slider{
    padding-top: 0px;
}

/*about-footer*/
.section__about-footer{
    margin: 0 auto;
    max-width: 320px;
    height: 450px;
}

.container__block{
    display: block;
    padding: 34px;
}

.container__title{
    font-size: 14px;
    line-height: 16px;
}

.container__subtitle{
    font-size: 14px;
    line-height: 16px;
}

.container__icon{
    width: 83px;
    padding-left: 96.41px;
}

/*footer*/
.section__footer{
    max-width: 320px;
    margin: 0 auto;
}

.footer__block{
    height: 90px;
}

.footer__title{
    font-size: 14px;
    line-height: 16px;
}
}