
/*design*/

body{
    background-image: url(../project/img/image.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-image: linear-gradient((rgba(0, 0, 0, .5), rgba(0, 0, 0, .5))) ;
}

.section__design{
    width: 1710px;
    height: 442px;
    margin: 50px;
    position: relative;
    left: 15%;
}

.section__start{
    width: 1170px;
    height: 150px;
    align-items: center;
    text-align: center;
}

.section__about-title{
    font-family: 'Raleway';
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

.section__about-seperation{
    width: 170px;
    border: 1px solid #FFFFFF;
}

.section__about-subtitle{
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}

.about-btn{
    width: 370px;
    height: 58px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    margin: 83px;
}

.about-btn:hover{
    border: 2px solid #EC7979;
    box-sizing: border-box;
}

.about-btn:active{
    background: #AB4949;
    border: 2px solid #AB4949;
    box-sizing: border-box;
}

/*contact*/

.section__contact{
    width: 1710px;
    height: 622px;
    position: relative;
    left: 18%;
}

.section__info{
    width: 1170px;
    height: 150px;
    align-items: center;
}

.section__title{
    font-family: 'Raleway';
    font-size: 36px;
    font-weight: 400;
    align-items: center;
    text-align: center;
}

.section__seperation{
    border: 1px solid #EC7979;
    width: 170px;
}

.section__subtitle{
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #86878B;
}

.section__line{
    border: 1px solid #BDBDBD;
    width: 500px;
    margin: 1px;
}

input{
    border: none;
}

.form__item{
    font-family: 'Open Sans';
    font-size: 14px;
    color: #BDBDBD;
    margin: 45px;
    padding: .5%;
    position: relative;
    left: 1%;
}

.form__item1{
    font-family: 'Open Sans';
    font-size: 14px;
    color: #BDBDBD;
    position: relative;
    left: 610px;
    top:-228px;
}


.section__liine{
    border: 1px solid #BDBDBD;
    width: 500px;
    position: relative;
    left:600px;
    top:-70px;
}

.form-btn{
    background: #EC7979;
    font-family: 'Open Sans';
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    width: 370px;
    height: 58px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    margin-top: 30px;
}

.form-btn:hover{
    border: 1px solid #AB4949;;
box-sizing: border-box;
}

.form-btn:active{
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

/*footer*/

.section__footer{
    width: 1710px;
    height: 164px;
    margin: 0 auto;
    padding: 0;
    background: #000000;
}

.section__block{
    display: flex;
    justify-content: center;
}

.section__icon{
    height: 42.12px;
    margin: 18px;
    padding: 2px;
    cursor: pointer;
}

.section__text{
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: normal;
    color: #FFFFFF80;
    text-align: center;
}