.section__about-title{
font-family: 'Raleway', sans-serif;
font-size: 24px;
text-align: center;
}

.section__about-seperatior{
border: 1px solid #EC7979;
width: 142px;
}

.section__about-subtitle{
font-family: 'Raleway', sans-serif;
font-size: 14px;
text-align: center;
border: #86878B;
font-weight: 400;
}

.section__about-content1{
display: flex;
justify-content: center;
}

.section__about-content2{
display: flex;
justify-content: center;
}

.section__about-content3{
display: flex;
justify-content: center;
}

.section__about-content1{
width: 370px;
left: 285px;
position: absolute;
text-align: center;
}

.section__about-content2{
width: 370px;
left: 485px;
position: absolute;
text-align: center;
}

.section__about-content3{
width: 370px;
left: 485px;
position: absolute;
text-align: center;
}

.section__content-title1{
font-family: 'Open Sans';
font-weight: 700;
font-size: 24px;
text-align: center;
}

.section__content-title2{
font-family: 'Open Sans';
font-weight: 700;
font-size: 24px;
text-align: center;
}

.section__content-title3{
font-family: 'Open Sans';
font-weight: 700;
font-size: 24px;
text-align: center;
}
        
.section__content-subtitle1{
font-family: 'Raleway';
font-size: 18px;
font-weight: 400;
text-align: center;
}

.section__content-subtitle2{
font-family: 'Raleway';
font-size: 18px;
font-weight: 400;
text-align: center;
}

.section__content-subtitle3{
font-family: 'Raleway';
font-size: 18px;
font-weight: 400;
text-align: center;
}