.section__content{
    width: 600px;
    height: 1020px;
    box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
    border-radius: 20px;
    border: 1px solid #BDBDBD;
}

.section__img{
    position: relative;
    margin-left: 500px;
    margin-top: 50px;
    cursor: pointer;
}

.section__title{
    margin: 50px;
    margin-left: 107px;
    font-family: 'Montserrat';
    font-size: 28px;
    color: #424242;
}

.form-item{
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 83px;
    width: 385px;
    height: 50px;
    margin: 24px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}


input{
    border: none;
}

.section__text{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    position: relative;
    margin-left: 25px;
    margin-top: -19px;
}

.section__btn{
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    border-radius: 49px;
    cursor: pointer;
    font-family: 'Spectral SC';
    font-size: 16px;
    color: #fff;
    width: 295px;
    height: 50px;
    position: relative;
    margin-left: 75px;
    margin-top: 40px;
    border: none;
}

.section__about-seperatior{
    width: 385.02px;
    border: 1px solid #BDBDBD;
    margin: 40px;
    align-items: center;
}

.section__about-subtitle{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: #424242;
    position: relative;
    margin-left: 70px;
}

.section__btnn{
    font-family: 'Spectral SC';
    font-size: 16px;
    text-align: center;
    color: #BDBDBD;
    cursor: pointer;
    border: 2px solid #dddad9af;
    background-color: transparent;
    border-radius: 49px;
    width: 150px;
    height: 40px;
    position: relative;
    margin-left: 220px;
    margin-top: -45px;
}

.text{
    position: relative;
    margin-top: 6px;
}